@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0b0f19;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
@keyframes fall {
  0%{ transform: translateY(-10vh) rotate(0deg); }
  100%  { transform: translateY(110vh) rotate(360deg); opacity: 0; }
}
.snowflake {
  position: fixed;
  top: -10vh;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}